<table class="border-separate">
  <caption>Eine Test-Tabelle mit irgendwelchen Daten</caption>
  <thead>
    <tr>
      {{#each tablehead}}
      <th>{{ thcontent }}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{ one }}</td>
      <td>{{ two }}</td>
      <td>{{ three }}</td>
      <td>{{ four }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
