<div class="prose">
  <h2>Welches rot?</h2>
  <p>Welches rot soll das DE-PACK rot sein? - Bitte auch Print-Version testen.</p>
</div>

{{> @logo--logo}}

<div class="flex gap-8">
  {{#each redtones}}
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: {{ hex }};">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">{{ label }}</div>
      <div>coolors: {{ coolors }}</div>
      <div class="select-all font-mono">{{ hex }}</div>
      <div>rgb: {{ rgb }}</div>
      <div>cmyk: {{ cmyk }}</div>
      <div>{{ comment }}</div>
    </div>
  </div>
  {{/each}}
</div>
