<h1>DE-PACK Color World</h1>

<h2>Haupt-Farben</h2>

<div class="flex gap-8">
  {% for entry in main %}
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: {{ entry.hex }};">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">{{ entry.label }}</div>
      <div class="select-all font-mono">{{ entry.class }}</div>
      <div class="select-all font-mono">{{ entry.hex }}</div>
      <div class="font-mono">RGB: <span class="select-all">{{ entry.rgb }}</span></div>
      <div class="font-mono">CMYK: <span class="select-all">{{ entry.cmyk }}</span></div>
    </div>
  </div>
  {% endfor %}
</div>

<h2>Weitere Farben</h2>

<div class="flex gap-8">
  {% for entry in sub %}
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: {{ entry.hex }};">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">{{ entry.label }}</div>
      <div class="select-all font-mono">{{ entry.class }}</div>
      <div class="select-all font-mono">{{ entry.hex }}</div>
      <div class="font-mono">RGB: <span class="select-all">{{ entry.rgb }}</span></div>
      <div class="font-mono">CMYK: <span class="select-all">{{ entry.cmyk }}</span></div>
    </div>
  </div>
  {% endfor %}
</div>

<h2>Schattierungen</h2>
<p>Für Hover-, Glanz- und andere Effekte werden leichte Abwandlungen der Farben benötigt. Diese Schattierungen dürfen nicht als Hauptfarbe eingesetzt werden (z.B. als Hintergrundfarbe).</p>

<div class="flex flex-wrap gap-4">
  {% for entry in shades %}
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: {{ entry.hex }};">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">{{ entry.label }}</div>
      <div class="select-all font-mono">{{ entry.class }}</div>
      <div class="select-all font-mono">{{ entry.hex }}</div>
      <div class="font-mono">RGB: <span class="select-all">{{ entry.rgb }}</span></div>
      <div class="font-mono">CMYK: <span class="select-all">{{ entry.cmyk }}</span></div>
    </div>
  </div>
  {% endfor %}
</div>
