<div class="prose m-4">
  <h2>Primary Colors</h2>
  <p>Dies sind die Haupt-Farben.</p>
</div>
<div class="flex gap-8">
  {{#each primary}}
  <div class="flex flex-col">
    <div class="w-48 h-48" style="background-color: {{ value }};">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">{{ label }}</div>
      <div>{{ class }}</div>
      <div class="select-all font-mono">{{ value }}</div>
    </div>
  </div>
  {{/each}}
</div>

<div class="prose m-4">
  <h2>Color Shades</h2>
  <p>Dies sind die Schattierungen der Primärfarben, die verwendet werden können.</p>
</div>

<div class="prose m-4">
  <h3>Stone Color Shades</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  {{#each stone}}
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: {{ value }};">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">{{ label }}</div>
      <div>{{ class }}</div>
      <div class="select-all font-mono">{{ value }}</div>
    </div>
  </div>
  {{/each}}
</div>

<div class="prose m-4">
  <h3>Text Colors</h3>
  <p>Dies sind die Schattierungen.</p>
</div>
<div class="grid grid-cols-9 gap-8">
  {{#each text}}
  <div class="flex flex-col">
    <div class="w-32 h-48" style="background-color: {{ value }};">
    </div>
    <div class="text-sm font-medium bg-stone-100 text-center p-2">
      <div class="font-bold">{{ label }}</div>
      <div>{{ class }}</div>
      <div class="select-all font-mono">{{ value }}</div>
    </div>
  </div>
  {{/each}}
</div>
