<div class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
<p class="leading-relaxed">{{ paraText }}</p>
<p class="leading-relaxed">{{ paraText }}</p>
<p class="leading-relaxed">{{ paraText }}</p>
<p class="leading-relaxed">{{ paraText }}</p>
<p class="leading-relaxed">{{ paraText }}</p>
</div>
