<h2>Honey Yellow</h2>
<p>Kontrastfarbe zu Lava und Schmuckfarbe.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ honeyyellow.light.hex }}">
    <div>Name: {{ honeyyellow.light.label }}</div>
    <div>Class: {{ honeyyellow.light.class }}</div>
    <div>Hex: {{ honeyyellow.light.hex }}</div>
    <div>RGB: {{ honeyyellow.light.rgb }}</div>
    <div>CMYK: {{ honeyyellow.light.cmyk }}</div>
  </div>

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: {{ honeyyellow.default.hex }}">
    <div>Name: {{ honeyyellow.default.label }}</div>
    <div>Class: {{ honeyyellow.default.class }}</div>
    <div>Hex: {{ honeyyellow.default.hex }}</div>
    <div>RGB: {{ honeyyellow.default.rgb }}</div>
    <div>CMYK: {{ honeyyellow.default.cmyk }}</div>
  </div>

  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ honeyyellow.dark.hex }}">
    <div>Name: {{ honeyyellow.dark.label }}</div>
    <div>Class: {{ honeyyellow.dark.class }}</div>
    <div>Hex: {{ honeyyellow.dark.hex }}</div>
    <div>RGB: {{ honeyyellow.dark.rgb }}</div>
    <div>CMYK: {{ honeyyellow.dark.cmyk }}</div>
  </div>
</div>

<div class="{{ honeyyellow.default.class }} p-2 mt-2 w-full h-48">
  {{ honeyyellow.default.class }} als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>
