<h2>Isabelline</h2>
<p>Hintergrundfarbe Schmuckfarbe.</p>

<div class="flex flex-row gap-1">

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: {{ isabelline.default.hex }}">
    <div>Name: {{ isabelline.default.label }}</div>
    <div>Class: {{ isabelline.default.class }}</div>
    <div>Hex: {{ isabelline.default.hex }}</div>
    <div>RGB: {{ isabelline.default.rgb }}</div>
    <div>CMYK: {{ isabelline.default.cmyk }}</div>
  </div>

</div>
