<h2>Darkskyblue</h2>
<p>Schmuckfarbe.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ darkskyblue.light.hex }}">
    <div>Name: {{ darkskyblue.light.label }}</div>
    <div>Class: {{ darkskyblue.light.class }}</div>
    <div>Hex: {{ darkskyblue.light.hex }}</div>
    <div>RGB: {{ darkskyblue.light.rgb }}</div>
    <div>CMYK: {{ darkskyblue.light.cmyk }}</div>
  </div>

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: {{ darkskyblue.default.hex }}">
    <div>Name: {{ darkskyblue.default.label }}</div>
    <div>Class: {{ darkskyblue.default.class }}</div>
    <div>Hex: {{ darkskyblue.default.hex }}</div>
    <div>RGB: {{ darkskyblue.default.rgb }}</div>
    <div>CMYK: {{ darkskyblue.default.cmyk }}</div>
  </div>

  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ darkskyblue.dark.hex }}">
    <div>Name: {{ darkskyblue.dark.label }}</div>
    <div>Class: {{ darkskyblue.dark.class }}</div>
    <div>Hex: {{ darkskyblue.dark.hex }}</div>
    <div>RGB: {{ darkskyblue.dark.rgb }}</div>
    <div>CMYK: {{ darkskyblue.dark.cmyk }}</div>
  </div>
</div>

<div class="{{ darkskyblue.default.class }} p-2 mt-2 w-full h-48">
  {{ darkskyblue.default.class }} als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>
