
<h2>Normaler Link</h2>
<p>
  {{ textbefore }}
  {% render '@link--default' %}
  {{ textafter }}
</p>

<h2>Link-Button (class="btn btn-sm")</h2>
<p>
  {{ textbefore }}
  {% render '@link--buttonsmall' %}
  {{ textafter }}
</p>

<h2>Download-Link (class="lnk-download")</h2>
<p>
  {{ textbefore }}
  {% render '@link--download' %}
  {{ textafter }}
</p>

<h2>Externer Link (target="_blank")</h2>
<p>
  {{ textbefore }}
  {% render '@link--extern' %}
  {{ textafter }}
</p>

<h2>E-Mail-Link (class="lnk-mail")</h2>
<p>
  {{ textbefore }}
  {% render '@link--mail' %}
  {{ textafter }}
</p>

<h2>Telefon-Link (class="lnk-tel")</h2>
<p>
  {{ textbefore }}
  {% render '@link--tel' %}
  {{ textafter }}
</p>
