<div class="font-sans">
<h1>{{ font_sans }}</h1>
<p>{{ font_sans }}. {{ smalltext }}
</p>
</div>

<div class="font-serif">
<h1>{{ font_serif }}</h1>
<p>{{ font_serif }}. {{ smalltext }}
</p>
</div>

<div class="font-mono">
<h1>{{ font_mono }}</h1>
<p>{{ font_mono }}. {{ smalltext }}
</p></div>
