<h2>Android Green</h2>
<p>Hauptsächliche Anwendung bei reinpapier und Umwelt-Plaketten.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ colors.androidgreen.light.hex }}">
    <div>Name: {{ colors.androidgreen.light.label }}</div>
    <div>Class: {{ colors.androidgreen.light.class }}</div>
    <div>Hex: {{ colors.androidgreen.light.hex }}</div>
    <div>RGB: {{ colors.androidgreen.light.rgb }}</div>
    <div>CMYK: {{ colors.androidgreen.light.cmyk }}</div>
  </div>

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: {{ colors.androidgreen.default.hex }}">
    <div>Name: {{ colors.androidgreen.default.label }}</div>
    <div>Class: {{ colors.androidgreen.default.class }}</div>
    <div>Hex: {{ colors.androidgreen.default.hex }}</div>
    <div>RGB: {{ colors.androidgreen.default.rgb }}</div>
    <div>CMYK: {{ colors.androidgreen.default.cmyk }}</div>
  </div>

  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ colors.androidgreen.dark.hex }}">
    <div>Name: {{ colors.androidgreen.dark.label }}</div>
    <div>Class: {{ colors.androidgreen.dark.class }}</div>
    <div>Hex: {{ colors.androidgreen.dark.hex }}</div>
    <div>RGB: {{ colors.androidgreen.dark.rgb }}</div>
    <div>CMYK: {{ colors.androidgreen.dark.cmyk }}</div>
  </div>
</div>

<div class="androidgreen-gradient p-2 mt-2 w-full h-48">
  'androidgreen-gradient' als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>
