<h2>Darkskyblue</h2>
<p>Schmuckfarbe.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ colors.darkskyblue.light.hex }}">
    <div>Name: {{ colors.darkskyblue.light.label }}</div>
    <div>Class: {{ colors.darkskyblue.light.class }}</div>
    <div>Hex: {{ colors.darkskyblue.light.hex }}</div>
    <div>RGB: {{ colors.darkskyblue.light.rgb }}</div>
    <div>CMYK: {{ colors.darkskyblue.light.cmyk }}</div>
  </div>

  <div class="p-2 w-64 h-64 text-black text-xs font-mono font-bold" style="background-color: {{ colors.darkskyblue.default.hex }}">
    <div>Name: {{ colors.darkskyblue.default.label }}</div>
    <div>Class: {{ colors.darkskyblue.default.class }}</div>
    <div>Hex: {{ colors.darkskyblue.default.hex }}</div>
    <div>RGB: {{ colors.darkskyblue.default.rgb }}</div>
    <div>CMYK: {{ colors.darkskyblue.default.cmyk }}</div>
  </div>

  <div class="p-2 w-48 h-48 text-black text-xs font-mono" style="background-color: {{ colors.darkskyblue.dark.hex }}">
    <div>Name: {{ colors.darkskyblue.dark.label }}</div>
    <div>Class: {{ colors.darkskyblue.dark.class }}</div>
    <div>Hex: {{ colors.darkskyblue.dark.hex }}</div>
    <div>RGB: {{ colors.darkskyblue.dark.rgb }}</div>
    <div>CMYK: {{ colors.darkskyblue.dark.cmyk }}</div>
  </div>
</div>

<div class="darkskyblue-gradient p-2 mt-2 w-full h-48">
  'darkskyblue-gradient' als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>
