<h2>Queenblue</h2>
<p>Schmuckfarbe.</p>

<div class="flex flex-row gap-1">
  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: {{ colors.queenblue.light.hex }}">
    <div>Name: {{ colors.queenblue.light.label }}</div>
    <div>Class: {{ colors.queenblue.light.class }}</div>
    <div>Hex: {{ colors.queenblue.light.hex }}</div>
    <div>RGB: {{ colors.queenblue.light.rgb }}</div>
    <div>CMYK: {{ colors.queenblue.light.cmyk }}</div>
  </div>

  <div class="p-2 w-64 h-64 text-white text-xs font-mono font-bold" style="background-color: {{ colors.queenblue.default.hex }}">
    <div>Name: {{ colors.queenblue.default.label }}</div>
    <div>Class: {{ colors.queenblue.default.class }}</div>
    <div>Hex: {{ colors.queenblue.default.hex }}</div>
    <div>RGB: {{ colors.queenblue.default.rgb }}</div>
    <div>CMYK: {{ colors.queenblue.default.cmyk }}</div>
  </div>

  <div class="p-2 w-48 h-48 text-white text-xs font-mono" style="background-color: {{ colors.queenblue.dark.hex }}">
    <div>Name: {{ colors.queenblue.dark.label }}</div>
    <div>Class: {{ colors.queenblue.dark.class }}</div>
    <div>Hex: {{ colors.queenblue.dark.hex }}</div>
    <div>RGB: {{ colors.queenblue.dark.rgb }}</div>
    <div>CMYK: {{ colors.queenblue.dark.cmyk }}</div>
  </div>
</div>

<div class="queenblue-gradient p-2 mt-2 w-full h-48">
  'queenblue-gradient' als Klasse angewendet.
  Verlauf ändert sich bei Mauseover.
</div>
